
@media (max-width: 768px) {
    .img-shrink {
       height: 400px;
    }
 
    .img-shrink-max {
       height: 300px;
    }
 
    .img-shrink-container {
       display: flex;
       justify-content: center;
    }
 }

 
//New page banner
//Esta crescendo mais que a tela
.page-banner {
    object-fit: cover;
    width: 100%;

    &__bg-image{
 
       width: 100%;
       height: auto;
       vertical-align: middle;
       border-style: none;
    }
 }
