.footer_logo {
    background: url('https://www.ranchonhazinha.com.br/assets/rancho_nhazinha_white.svg') no-repeat;
    background-size: center;
    /* Or 'cover' depending on your needs */
    height: 75px;
    /* Adjust height as needed */
 }

 

.footer_background {
    background: #8E1E36 url('https://www.ranchonhazinha.com.br/assets/footer-cavalo.svg');
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    height: 100%;
 }
 